* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 .logo {
    width: 190px;
    position: absolute;
    top: 20px;
    left: 27%;
 }

.caixa-texto {
    color: white;
    width: 345px;
    display: flex;
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 240px;
    right: 6%;
    font-family: "Bebas Neue", sans-serif;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
   
}

video {
   width: 100%;
   height: 100%;
}


.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}


.botao-titulo {
    color: white;
    background-color: #c51111;
    border-radius: 40px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    position: absolute;
    bottom: 100px;
    left: 25%;
    box-shadow: 1px solid black
      
}

.botao-titulo:hover {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
 }


.logo-whats {
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

            /* PAGINA DO CARDAPIO */

.body-cardapio {
    background-color: black;
}


.cabeçalho {
    background-color: rgb(24,25,24);
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    
} 

.logo-empresa{
 width: 60px;
 margin-left: 8px;   
}

.link-cabeçalho1 {
    color: white;
}

.link-cabeçalho2 {
    color: white;
}

.logo-carrinho {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-carrinho {
    background-color: white;
    position: absolute;
    top: 8px;
    right: 65px;
    padding: 5px 7px;
    border-radius: 10px;
    cursor: pointer;
}

.menu {
    border: none;
    background: none;
    border-top: 3px solid white;
    position: absolute;
    right: 15px;
    top: 16px;
    cursor: pointer;
}

.menu::before,
.menu::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
}


.mascara-menu {
    display: none;
    background-color: rgb(24,25,24);
    height: 100vh;
    width: 110px;
    position:absolute;
    right: 0px;
    top: 40px;
    opacity: 0.7;
} 

.link-cabeçalho1 {
    font-size: 18px;
    position: absolute;
    top: 63px;
    right: 24px;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

.link-cabeçalho2
{
    font-size: 18px;
    position: absolute;
    top: 100px;
    right: 13px;
    cursor: pointer;
    display: none;
}

/* .link-cabeçalho1:hover {
    color: rgb(240, 123, 123);
    transition: 0.5s ease-in-out;
    font-size: 16px;
}

.link-cabeçalho2:hover {
    color: rgb(240, 123, 123);
    transition: 0.5s ease-in-out;
    font-size: 16px;
} */

 /* ICONE ONDE APARECE QUANTIDADE DE PRODUTOS QUE FICA DENTRO DO CARRINHO */

.qtd-carrinho{
    align-items: center;
    background-color: gold !important;
    border-radius: 50%;
    color: #3a2101 !important;
    display: flex;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    padding: 5px;
    position: absolute;
    right: 55px;
    top: 1px;
    transition: background-color .3s ease;
    width: 20px;
}
            /*CARDS PARA COLOCAR OS ITENS DO CARDAPIO PARA VENDA */

/* .container {
 display: flex;
 align-items: center;
}

.container {
    
}
 .card-1 {
    
    width: 180px;
    height: 320px;
    background-color:  #352716;
    border-radius: 5px;
    box-shadow: 0 4px 6px #0000001a;
    overflow: hidden;
 }

 .img-card-1 {
    width: 190px;
 }

 .info-card-1 {
    margin-bottom: 10px;
    color: #ccc;
 }

 .info-card-1 h1 {
    color: gold;
 }

 .info-card-1 h2 {
    color: orange;
 }

 .botao-card-1 {
    background-color: #ffdb58;
    padding: 5px 4px;
    border-radius: 5px;
    color: #352716;
    cursor: pointer;
    
 } */

 

















/* DEIXA O BOTÃO COM ANIMAÇÃO DE GRADIENTE NO FUNDO QUANDO PASSAR O MOUSE POR CIMA OU QUANDO CLICAR NO BOTÃO */

/* .botao-titulo::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.botao-titulo:active {
    color: #000
    
}

.botao-titulo:active::after {
    background-color: transparent;

}

.botao-titulo:hover::before {
    opacity: 1;
}

.botao-titulo::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 40px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */